@using SimpleLti.Controllers
@using SimpleLti.Models
@model SimpleLti.Models.ToolModel

@{
    ViewBag.Title = "IMS LTI 1.2 Tool";
}

<p>
    This is a simple Tool Provider using
    <a href="http://www.nuget.org/packages/LtiLibrary.Core" target="_blank">LtiLibrary.Core</a>
    and <a href="http://www.nuget.org/packages/LtiLibrary.Core" target="_blank">LtiLibrary.AspNet</a>
    in an ASP.NET MVC page.
</p>

@ViewBag.Message

@if (Model != null && !string.IsNullOrEmpty(Model.LtiRequest.LisOutcomeServiceUrl))
{
    <h2>Outcomes 1.0</h2>
    <p>
        The Tool Consumer that sent this launch request is hosting the LTI Outcomes 1.0 Management Service.
        Click @Html.ActionLink("here to send a grade back via the LTI Outcomes Service.",
            "Outcomes1",
            new
            {
                Model.LtiRequest.LisOutcomeServiceUrl, 
                Model.LtiRequest.LisResultSourcedId, 
                Model.LtiRequest.ConsumerKey, 
                Model.ConsumerSecret
            },
            new { target = "_blank" }
            )
    </p>
}

@if (Model != null)
{
    <h2>Outcomes 2.0</h2>
    <p>
        The Tool Consumer that sent this launch request supports the LTI Outcomes 2.0 Management Service.
        Click @Html.ActionLink("here to send a grade back via the LTI Outcomes Service.",
            "Outcomes2",
            new
            {
                ActivityId = Guid.NewGuid().ToString(), // Normall calculated by the Tool Provider
                LineItemServiceUrl = Model.LtiRequest.Parameters["custom_lineitem_url"],
                LineItemsServiceUrl = Model.LtiRequest.Parameters["custom_lineitems_url"],
                ResultServiceUrl = Model.LtiRequest.Parameters["custom_result_url"],
                ResultsServiceUrl = Model.LtiRequest.Parameters["custom_results_url"],
                Model.LtiRequest.ConsumerKey,
                Model.ConsumerSecret,
                Model.LtiRequest.ContextId
            },
            new { target = "_blank" }
            )
    </p>
}

@if (Model != null && !string.IsNullOrEmpty(Model.LtiRequest.Parameters["custom_tc_profile_url"]))
{
    <h2>Tool Consumer Profile</h2>
    <p>
        The Tool Consumer that sent this launch can provide a Tool Consumer Profile.
        Click @Html.ActionLink("here to request the Tool Consumer Profile.", 
            "GetToolConsumerProfile",
            new { Url = Model.LtiRequest.Parameters["custom_tc_profile_url"] }, 
            new { target = "_blank" }
            )
    </p>
}

<h2>Raw POST Parameters</h2>
@foreach (var key in Request.Form.AllKeys)
{
    <div>@key=@Request.Form[key]</div>
}

